body {
    background: #fff;
    background-image: url("C:/Users/Windows/Desktop/backdoor_blog/img/background_c9.jpg");
    background-repeat: repeat;
}


.header.menu {
    background-color:#26a4d8;
    width: 1000px;
    height: 25px;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 0.7;
}

.header.menu a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}


.header.menu a:hover {
    color: rgb(19, 0, 129);
}

.header.menu a.selected {
    color: rgb(19, 0, 129) !important;
}

.header.submenu a:hover {
    color: rgb(19, 0, 129);
}

span.arrow-icon {
    position: absolute;
    right: 2px;
}

.header.submenu {
    background-color:#26a4d8;
    width: 120px;
    height: 145px;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    float: right;
    right:520px;
}

.submenu  {
    list-style: none;
    display: none;
}

.header.submenu li a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}

ul#toplist li a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
} 

.toplist, .junglelist, .midlist, .adclist, .supportlist {
    list-style: none;
    display: none;
    background-color:#26a4d8;
    width: 110px;
    height: 90px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 0.8;
    z-index: 1;
    position: absolute;
    float: right;
    left: 145px;
    top: 0px;
}

.right-text {
    float: right;
    margin-right:10px;
}

.left-text{
    float: left;
    margin-right:10px;
}

.sidebar a{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    display: block;
}


.logo {
    width: 30px;
    height: 30px;
}

.main.content {
    text-align: justify;
    padding: 15px 10px 10px 15px;
    width: 995px;
    background-color: #fff;
    justify-content: center;
    margin: 0 auto;
    background-color: #26a4d8;
    color: #fff;
    opacity: 0.7;
}